@import url('https://fonts.googleapis.com/css2?family=Geologica:slnt,wght@-12..0,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-geologica: 'Geologica', sans-serif;
    --shadow-light: 0 2px 8px rgba(0, 0, 0, 0.05);
    --shadow-medium: 0 4px 16px rgba(0, 0, 0, 0.1);
    --shadow-large: 0 8px 25px rgba(0, 0, 0, 0.15);
}

body {
    @apply font-geologica bg-zinc-100;
}

.page {
    @apply px-[7%] py-8 min-h-[calc(100vh-164px)]
}

header {
    @apply sticky flex top-0 z-10 items-center justify-between
    bg-white px-16 py-4 shadow-light;
}

footer {
    @apply bg-zinc-800 text-center text-zinc-400 py-6 mt-auto rounded-t-xl font-light;
}

footer p {
    @apply px-2;
}

footer a {
    @apply text-lime-700 hover:text-lime-600 duration-300;
}

footer .copyright {
    @apply flex flex-row justify-center gap-1;
}

header .home-link {
    @apply font-bold text-3xl text-lime-700 duration-300 hover:text-lime-700/70;
}

nav {
    @apply flex items-center gap-8
}

nav .nav-link {
    @apply text-lg font-light text-zinc-900 hover:text-lime-700 cursor-pointer duration-300;
}

nav .with-profile {
    @apply flex items-center gap-2
}

.nav-dropdown {
    @apply relative inline-block;
}

.nav-dropdown button.open {
    @apply text-lime-700;
}

.nav-dropdown button.close {
    @apply text-zinc-900 hover:text-lime-700;
}

.dropdown {
    @apply absolute min-w-max top-10 left-1/2 -translate-x-1/2 z-20 bg-white rounded-xl shadow-large 
    duration-300 px-0 py-3 border border-gray-300;
}

.dropdown.open {
    @apply opacity-100 scale-100 translate-y-0 pointer-events-auto;
}

.dropdown.closed {
    @apply opacity-0 scale-95 -translate-y-10 pointer-events-none;
}

.dropdown .nav-link {
    @apply flex gap-4 items-center px-4 py-3 hover:bg-zinc-100;
}

.dropdown .nav-link-icon {
    @apply text-lime-700 w-5 h-5 text-center;
}

.header-avatar {
    @apply w-8 h-8 rounded-full object-cover border border-black;
}

section {
    @apply p-10 mb-8 bg-white rounded-xl shadow-light text-center;
}

section h1 {
    @apply text-4xl font-semibold text-zinc-800 mb-4;
}

section p {
    @apply text-zinc-600 font-light text-lg mt-4 mb-6;
}

.hero {
   @apply bg-gradient-to-br from-zinc-100 to-lime-700/15 py-16 px-10 shadow-none;
}

.hero h1 {
    @apply text-5xl font-bold text-lime-700 my-4;
}

.hero span {
    @apply text-rose-400;
}

.section-links {
    @apply flex justify-center;
}

.hero a, .map a {
    @apply bg-lime-700 text-white items-center py-4 px-8 rounded-4xl
    font-semibold flex gap-2 duration-300 hover:bg-lime-700/70 hover:-translate-y-0.5;
}

.map img{
    @apply my-6 mx-auto bg-zinc-500 rounded-xl w-full max-w-3xl h-96 object-cover;
}

.events-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full justify-center;
}

.event-card {
    @apply relative p-0 bg-white rounded-xl shadow-light border border-gray-300 flex flex-col hover:-translate-y-2 hover:bg-white duration-300;
}

.event-card img {
    @apply w-full h-48 rounded-t-xl object-cover border-b border-gray-300 shadow-light;
}

.event-card-content {
    @apply px-6 pb-6 grow w-full; 
}

.event-card-content h2 {
    @apply text-xl font-normal text-lime-700 mb-3 text-start;
}

.event-card-content p {
    @apply text-start text-base my-4 overflow-hidden;
}

.event-card-footer {
    @apply text-zinc-600 font-light flex flex-row justify-between w-full px-6 pb-4;
}

.event-card-footer span {
    @apply flex items-center gap-1;
}

.event-card-footer .icon {
    @apply text-lime-700;
} 

.status-badge {
    @apply absolute top-2 left-2 text-white px-2 py-1 rounded-full text-xs font-semibold
    flex items-center gap-1;
}

.participants-badge {
    @apply absolute top-2 right-2 bg-blue-600 text-white px-2 py-1 rounded-full text-xs font-semibold
    flex items-center gap-1;
}

.categories-container {
    @apply flex flex-wrap gap-2 my-3;
}

.category-badge {
    @apply px-2 py-1 rounded-full text-xs font-semibold
    flex items-center gap-1 w-fit text-white;
}

.map-header {
    @apply fixed z-500 w-full bg-white/80 shadow-none ;
}

.button-filter {
    @apply text-lg font-light hover:text-lime-700 cursor-pointer duration-300;
}

.button-filter.open {
    @apply text-lime-700 duration-300;
}

.button-filter.close {
    @apply text-zinc-900 hover:text-lime-700  duration-300;
}

.auth-page {
    @apply w-full flex justify-center items-center h-screen;
}

.auth-card {
    @apply w-md h-fit;
}

.auth-card h1 {
    @apply text-4xl font-semibold text-lime-700 my-6;
}

.auth-name {
    @apply text-xl font-bold text-zinc-900 flex justify-center
    hover:text-lime-700/70 duration-300;
}

.auth-form {
    @apply flex flex-col;
}

.auth-form .form-group {
    @apply flex flex-col mb-4;
}

.auth-form label {
    @apply text-left text-zinc-900 font-normal mb-1;
}

.auth-form input {
    @apply p-3 border border-gray-300 rounded-xl shadow-light duration-300
    focus:border-lime-700 transition-all focus:outline-0
    focus:shadow-[0_0_5px] focus:shadow-lime-700 mb-1;
}

.auth-form .error {
    @apply text-left m-0 text-red-600 text-sm font-medium;
}

.form-group .forgot-password-link {
    @apply text-right text-base text-zinc-600 hover:text-lime-700/70 duration-300 cursor-pointer;
}

.auth-form button {
    @apply bg-lime-700 text-white items-center py-4 px-8 rounded-4xl
    font-semibold flex gap-2 duration-300 hover:bg-lime-700/70 hover:-translate-y-0.5 justify-center cursor-pointer;
}

.register-link {
    @apply flex flex-row justify-center items-center mt-4 mb-0 gap-1 text-base;
}

.register-link a {
    @apply bg-white text-lime-700 p-0 m-0 hover:text-lime-700/70 hover:underline duration-300;
}

.profile-header {
    @apply flex justify-between items-center md:flex-row flex-col mx-10;
}

.profile-header-info {
    @apply flex md:flex-row flex-col items-center justify-between md:gap-6;
}

.btn-edit {
    @apply bg-gray-300 px-4 py-2 mb-4 md:mb-0 rounded-2xl hover:bg-gray-400;
}

.btn-back {
    @apply bg-gray-300 hover:bg-gray-400 rounded-2xl py-1 w-20 px-4;
}

.btn-logout {
    @apply bg-red-300 hover:bg-red-400 rounded-2xl py-1 mb-4 md:m-0 w-20 px-4;
}

.space {
    @apply w-20
}

.profile-info {
    @apply flex p-4 border-t border-gray-300;
}

.avatar-card {
    @apply w-1/2 p-4 flex flex-col items-center border-r border-gray-300;
}

.avatar {
    @apply w-48 h-48 rounded-full mb-2;
}

.user-details {
    @apply w-1/2 p-4 border-l border-gray-300;
}

.error {
    @apply text-red-600 text-sm mx-2 mb-2 font-semibold
}


.my-events-page {
    @apply mt-8;
}

.create-event-popup {
    @apply flex flex-col z-500 absolute bottom-0 left-1/2 translate-x-[-50%] w-96 bg-orange-200/70 rounded-t-2xl;
}

.create-event-popup button {
    @apply text-2xl font-bold p-2 my-4 mx-auto text-center bg-orange-300/70 hover:bg-orange-400 rounded-2xl 
}

.event-sidebar {
    @apply fixed z-600 top-0 left-0 w-md h-full bg-white shadow-lg p-4 overflow-y-auto;
}

.event-sidebar-header {
    @apply flex justify-between items-center border-b pb-2 mb-4;
}

.event-sidebar-header button {
    @apply text-xl font-bold text-red-700 hover:cursor-pointer;
}

.event-form-create {
    @apply flex flex-col;
}

.event-sidebar-content h1 {
    @apply m-0;
}

.event-sidebar-content .error {
    @apply mt-4 mx-0 mb-0;
}

.event-form-create label {
    @apply mt-4;
}

.event-form-create input {
    @apply p-2 border outline-0 rounded-sm focus:outline-2 transition-all duration-25;  
}

.event-form-create textarea {
    @apply border p-2 rounded-sm outline-0 resize-none focus:outline-2 transition-all duration-25;
}

.event-form-create button {
    @apply bg-green-600 hover:bg-green-700 rounded-xl py-2 mt-4 font-bold text-white;
}

.event-form-create .error {
    @apply m-0;
}

.event-sidebar-label {
    @apply font-semibold mt-4;
}

.event-time-creator {
    @apply flex-col justify-between items-center
}

.event-creator {
    @apply flex font-semibold text-lg justify-end hover:underline hover:text-blue-800
}

.event-time {
    @apply flex-col;
}

.event-edit-links {
    @apply flex justify-between my-4;
}

.event-edit-links button{
    @apply mx-2 p-2 rounded-xl hover:cursor-pointer;
}

.event-edit-button {
    @apply bg-blue-500 hover:bg-blue-700 text-white;
 }

.event-delete-button {
    @apply bg-red-500 hover:bg-red-700 text-white;
}

.event-back-button {
    @apply bg-gray-500 hover:bg-gray-700 text-white mx-2 p-2 rounded-xl hover:cursor-pointer;
}

.event-info {
    @apply flex flex-wrap my-4;
}

.event-span {
    @apply px-4 py-2 mx-2 mb-2 rounded-xl font-semibold text-white;
}

.event-span-distance {
    @apply px-4 py-2 mx-2 mb-2 rounded-xl font-semibold text-gray-800 bg-gray-200;
}

.event-cancel-button {
    @apply bg-rose-500 hover:bg-rose-700 text-white mx-2 p-2 rounded-xl hover:cursor-pointer;
}

.event-form-preview_image {
    @apply bg-blue-600 hover:bg-blue-700 text-center rounded-xl py-2 mt-4 cursor-pointer text-white;
}

.event-preview-image {
    @apply w-full h-64 my-4 rounded-lg object-cover;
}

.react-select__control {
    @apply p-1;
}

.range-input {
    @apply w-full;
}

.event-filters {
    @apply flex flex-col;
}

.event-filters label {
    @apply font-semibold mt-4;
}

.event-filters-input {
    @apply p-2 border outline-0 rounded-sm focus:outline-2 transition-all duration-25;
}

.radius-filter {
    @apply flex items-center gap-4;
}

.radius-filter span {
    @apply flex-shrink-0 font-semibold;
}

.reset-button {
    @apply bg-red-500 hover:bg-red-700 rounded-xl mt-4 py-1 px-4 font-bold text-white;
}

.event-join {
    @apply mt-4 border-t pt-4 items-center text-center;
}

.event-join a {
    @apply text-blue-600 text-base hover:text-blue-800 hover:bg-transparent underline;
}

.event-join button {
    @apply rounded-xl p-2 font-bold text-white my-2;
}

.event-unjoin-button {
    @apply bg-red-500 hover:bg-red-700;
}

.event-join-button {
    @apply bg-green-500 hover:bg-green-700;
}

.event-join p {
    @apply font-bold;
}

.event-participants-button {
    @apply bg-blue-500 hover:bg-blue-700 ;
}

.participants-list {
    @apply flex flex-col mt-4 gap-4;
}

.participant-card {
    @apply flex w-full h-fit items-center border-t border-b py-1 border-gray-400;
}

.participant-card a {
    @apply flex w-2/3 h-12 items-center hover:bg-gray-200 rounded-2xl p-1;
}

.participant-card span {
    @apply flex w-1/3 h-12 items-center justify-center;
}

.participant-avatar {
    @apply h-full mx-2 border rounded-full w-10 object-contain;
}

.event-sidebar-comments-list {
    @apply flex flex-col mt-4 gap-4;
}

.comment-card {
    @apply flex flex-row gap-2 w-full h-fit border-t border-b py-1 border-gray-400;
}

.comment-avatar {
    @apply w-12 h-12 flex-shrink-0;
}

.comment-avatar img {
    @apply w-full h-full border rounded-full;
}

.comment-content {
    @apply flex flex-col w-full;
}

.comment-header {
    @apply flex flex-row w-full items-center;
}

.comment-username {
    @apply font-semibold w-fit hover:underline hover:text-blue-800;
}

.comment-timestamp {
    @apply flex ml-auto text-xs text-gray-500;
}

.event-comment-form {
    @apply flex flex-col;
}

.event-comment-form textarea {
    @apply border p-2 rounded-sm outline-0 resize-none focus:outline-2 transition-all duration-25;
}

.event-comment-form button {
    @apply bg-green-600 hover:bg-green-700 rounded-xl py-2 mt-4 font-bold text-white
}

.error-geolocation {
    @apply absolute bottom-8 right-2 z-500 bg-red-500/30 p-4 rounded-lg flex flex-col items-center
}

.error-geolocation p {
    @apply font-bold mb-2
}

.error-geolocation button {
    @apply bg-red-500 hover:bg-red-700 rounded-xl py-1 px-4 font-bold text-white
}

.my-location {
    @apply absolute bottom-8 right-2 z-500 bg-orange-200/70 hover:bg-orange-300 rounded-2xl py-1 px-4
}

.no-events {
    @apply flex md:flex-row flex-col justify-center items-center w-full font-semibold text-lg;
}

.no-events .nav-link {
    @apply text-blue-600 hover:text-blue-800 hover:bg-transparent underline px-1 font-semibold text-lg;
}

.event-timestamp {
    @apply right-2 text-sm text-gray-500 block text-center;
}

.event-creator-info {
    @apply flex flex-row items-center my-4;
}

.event-creator-link {
    @apply flex flex-row items-center w-fit gap-2 py-1 px-4 rounded-2xl font-bold hover:bg-slate-400;
}

.event-creator-avatar {
    @apply h-10 w-10 rounded-full object-contain border bg-white;
}

.event-full {
    @apply flex flex-col gap-4 w-full;
}

.event-preview {
    @apply sm:w-3/4 w-11/12 max-h-[500px] shadow-lg rounded-2xl object-cover bg-gray-100 self-center relative;
}

.event-details {
    @apply sm:w-3/4 w-11/12 flex flex-col gap-4 self-center;
}

.event-detail-item {
    @apply bg-slate-300 rounded-2xl px-4 py-2 shadow-lg mb-auto;
}

.event-categories {
    @apply w-fit flex flex-wrap gap-2;
}

.event-category {
    @apply px-4 py-1 rounded-2xl text-white text-xs font-semibold w-fit;
}

.event-buttons {
    @apply flex flex-col xl:flex-row gap-4;
}

.event-participants {
    @apply flex flex-col sm:flex-row items-center gap-4 w-full;
}

.event-participants-join {
    @apply flex flex-col sm:flex-row items-center gap-2 font-semibold w-full xl:justify-end;
}

.event-participants-join button{
    @apply px-4 py-1 text-white rounded-2xl font-semibold;
}

.event-participants-link {
    @apply px-4 py-1 bg-blue-400 hover:bg-blue-600 text-white rounded-2xl font-semibold w-fit;
}

.event-comments {
    @apply flex flex-col mt-4 gap-4 items-center w-full self-center;
}

.event-add-comments {
    @apply sm:w-3/4 w-11/12 bg-slate-300 rounded-2xl px-4 py-2 shadow-lg mb-auto;
}

.event-add-comments .event-center {
    @apply text-center
}

.event-add-comments p {
    @apply m-0
}

.event-add-comments button {
    @apply sm:w-2/5 w-full self-center
}

.event-comments-list {
    @apply bg-slate-300 rounded-2xl px-4 py-2 shadow-lg mb-auto sm:w-3/4 w-11/12 
}

.event-comments-list .comment-timestamp {
    @apply text-black
}

.btn-to-the-map {
    @apply bg-blue-500 hover:bg-blue-700 text-white rounded-2xl py-1 w-fit px-4;
}

.event-header {
    @apply relative flex flex-col items-center justify-center;
}

.event-header h1{
    @apply sm:mt-4 mt-0;
}

.event-header-buttons {
    @apply flex justify-between sm:w-3/4 w-11/12  mt-4;
}

.event-participants-page ul {
    @apply flex w-full justify-center items-center self-center;
}

.header-participants {
    @apply md:!w-2/3 sm:!w-5/6
}

.event-participants-page li {
    @apply md:w-2/3 sm:w-5/6 w-11/12;
}

.event-participants-page a {
    @apply w-fit;
}

.event-participants-page span {
    @apply ml-auto;
}